<div class="jumbotron"
	id="section-jumb">
    <p class="text-center">Package section</p>
</div>
<form class="navbar-form navbar-left" novalidate>
	<div class="form-group">
		<input placeholder="Container" 
		class="form-control"
		ng-model="pckCtrl.searchTerm"
		type="number"
		ng-pattern="/^[0-9][^\.]*$/"
		ng-min="1"
		required>
	</div>
	<button  class="btn btn-success"
			ng-disabled="!pckCtrl.searchTerm" 
			ng-click="pckCtrl.getItemsToPackage(pckCtrl.searchTerm);">Find</button>
</form>

<div class="container">
	<div class="row-content">
		<div class="col-sm-12">
			<package-items 
				items="pckCtrl.items">
			</package-items>	
		</div>
	</div>
</div>