<div class="jumbotron"
	id="section-jumb">
    <p class="text-center">Tip section</p>
</div>
<div class="container">
	<div class="row-content">
		<div class="col-sm-5">
			<h2>Current tip: {{tipCtrl.currentTip}}</h2>
			<div class="col-sm-4">
				<br>
				<form name="dimensionForm" novalidate>
					<div class="form-group">
					  <input  placeholder="D 1"
					  id="focusField" 
					  class="form-control"
					  ng-model="tipCtrl.data.diameter_one"
					  type="number"
					  ng-min="6.82"
					  ng-max="7.18"
					  ng-maxlength=4
					  required>
					  <br>
					  <input  placeholder="D 2" 
					  class="form-control"
					  ng-model="tipCtrl.data.diameter_two"
					  type="number"
					  ng-min="6.82"
					  ng-max="7.18"
					  ng-maxlength=4
					  required>
					</div>
					<button  class="btn btn-success"
							ng-disabled="dimensionForm.$invalid || dimensionForm.$pending" 
							ng-click="tipCtrl.getWeight();">Weight</button>
				</form>
			</div>
			<div class="col-sm-5">
				<h3>D1: {{tipCtrl.data.diameter_one}}</h3>
				<h3>D2: {{tipCtrl.data.diameter_two}}</h3>
				<h3>Wgt: {{tipCtrl.data.weight}}</h3>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row-content">
		<div class="col-sm-5"></div>
		<button 
				ng-disabled="!tipCtrl.data.weight"
				class="btn btn-primary"
				ng-click="tipCtrl.postTipInfo();">Post</button>
	</div>
</div>