<div class="jumbotron"
	id="section-jumb">
   <p class="text-center">Edit section</p>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<form class="navbar-form navbar-left" novalidate>
				<div class="form-group">
					<input placeholder="Banch" 
						class="form-control"
						ng-model="edCtrl.banch"
						type="number"
						ng-pattern="/^[0-9][^\.]*$/"
						ng-min="1"
						ng-max="99"
						required>
					<input placeholder="Pipe"
	          class="form-control"
	          ng-model="edCtrl.pipe"
	          type="number"
	          ng-min="1"
	          ng-pattern="/^[0-9][^\.]*$/"
	          ng-maxlength=3
	          required>
				</div>
				<button 
					class="btn btn-warning"
					ng-disabled = "!edCtrl.pipe"
      		ng-click="edCtrl.getItemsToEdit(edCtrl.banch, edCtrl.pipe);">
      		Search
			   </button>
			</form>
		</div>
		<div class="col-sm-6">
			<form class="navbar-form navbar-left" novalidate>
				<div class="form-group">
					<input placeholder="Stamp" 
						class="form-control"
						ng-model="edCtrl.stamp"
						type="number"
						ng-pattern="/^[0-9][^\.]*$/"
						ng-min="1"
						ng-max="9999"
						required>
				</div>
				<button 
					class="btn btn-warning"
					ng-disabled = "!edCtrl.stamp"
      		ng-click="edCtrl.getItemToEditContainer(edCtrl.stamp);">
      		Search
			   </button>
			</form>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<edit-items 
				items="edCtrl.items">			
			</edit-items>
		</div>
		<div class="col-sm-6">
			<edit-item 
				item="edCtrl.item">			
			</edit-item>
		</div>
	</div>
</div>