<div class="jumbotron"
	id="section-jumb">
   <p class="text-center">Nozzle section</p>
</div>
<div class="container">
	<div class="row-content">
		<div class="col-sm-6">
			<form class="navbar-form navbar-left" novalidate>
				<div class="form-group">
					<input placeholder="Banch" 
						class="form-control"
						ng-model="nzCtrl.banch"
						type="number"
						ng-pattern="/^[0-9][^\.]*$/"
						ng-min="1"
						ng-max="99"
						required>
				</div>
				<button 
					class="btn btn-warning"
					ng-disabled = "!nzCtrl.banch"
			        ng-click="nzCtrl.goToNozzleItems();">
			        Search
			    </button>
			</form>
		</div>
		<div class="col-sm-6">
			<div class="row-content">
				<div class="col-sm-6">
					<h3 class="text-center">Banch: {{nzCtrl.banch}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row-content">
		<div class="col-sm-12">
			<div ui-view ></div>
		</div>
	</div>
</div>