<div class="jumbotron"
	id="section-jumb">
   <p class="text-center">Nozzle section</p>
</div>
<div class="container">
	<div class="row-content">
		<div class="col-sm-6">
			<form class="navbar-form navbar-left" novalidate>
				<div class="form-group">
					<input placeholder="Banch" 
						class="form-control"
						ng-model="nzCtrl.banch"
						type="number"
						ng-pattern="/^[0-9][^\.]*$/"
						ng-min="1"
						ng-max="99"
						required>
					<input placeholder="Pipe"
						id="focusPipe" 
	          class="form-control"
	          ng-model="nzCtrl.pipe"
	          type="number"
	          ng-min="1"
	          ng-pattern="/^[0-9][^\.]*$/"
	          ng-maxlength=3
	          required>
				</div>
				<button 
					class="btn btn-warning"
					ng-disabled = "!nzCtrl.pipe"
	        ng-click="nzCtrl.getItemsToNozzle(nzCtrl.banch, nzCtrl.pipe);">
	        Search
	      </button>
			</form>
		</div>
		<div class="col-sm-6">
			<div class="row-content">
				<div class="col-sm-6">
					<h3 class="text-center">Banch: {{nzCtrl.banch}}</h3>
				</div>
				<div class="col-sm-6">
					<h3 class="text-center">Pipe: {{nzCtrl.pipe}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<nozzle-items 
				items="nzCtrl.items">			
			</nozzle-items>
		</div>
	</div>
</div>