<div class="row-content">
	<div id="deck" ng-class="{'container-fluid blue-deck': deckCtrl.color === 'blue', 'container-fluid yellow-deck': deckCtrl.color === 'yellow'}">
		<div  ng-repeat="agent in deckCtrl.agents">
			<a href="" 
				ng-click="deckCtrl.getWeightAndPutInfoAfter(agent, $index);" 
				class="col-sm-1 agent-item"
				ng-mouseover="style={'cursor':'pointer'}"
				ng-class="{'col-sm-1 agent-item': agent.isEmpty, 'col-sm-1 agent-item-filled': !agent.isEmpty}"
				id="agent">
				<h4 class="text-center">{{agent.row}}/{{agent.column}}</h4>
				<h4 class="text-center">{{agent.weight}}</h4>
			</a>
		</div>
	</div>
</div>
