<div class="row-content">
  <div id="deck" ng-class="{'container-fluid blue-deck': $ctrl.color === 'blue', 'container-fluid yellow-deck': $ctrl.color === 'yellow'}">
    <div  ng-repeat="agent in $ctrl.agents">
      <a href="" 
        ng-click="$ctrl.putDataAndTransit(agent);" 
        class="col-sm-1 agent-item"
        ng-mouseover="style={'cursor':'pointer'}"
        ng-class="{'col-sm-1 agent-item': agent.isEmpty, 'col-sm-1 agent-item-filled': !agent.isEmpty}"
        id="agent">
        <h4 class="text-center">{{agent.row}}/{{agent.column}}</h4>
        <h4 class="text-center">{{agent.weight}}</h4>
      </a>
    </div>
  </div>
</div>