<div class="row">
  <div class="col-sm-2" ng-repeat="item in $ctrl.items">
    <div ng-class="{'out-item': !item.data.element_weight, 'out-item-yellow': item.data.element_weight}">
      <h2 class="text-center">{{item.stamp}}</h2>
      <p class="text-center">ExpWgt: {{item.data.expectedElementWgt}}</p>
      <p class="text-center">ActWgt: {{item.data.element_weight}}</p>
      <div class="container">
        <button type="button" 
                class="btn btn-success btn-sm"
                ng-click="$ctrl.getElementWeight(item, $index);">
              Weight
        </button>
        <button type="button"
                class="btn btn-danger btn-sm" 
                ng-if="item.data.element_weight"
                ng-click="$ctrl.putInfo(item, $index);">
              Send
        </button>
      </div>
    </div>
  </div>
</div>